@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --headerclr:#222533;
    --mainclr:#ffcb0f;
    --headerbg: gray/*#ffdead*/;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'verdana', 'Arial',  sans-serif;
    line-height: 1.6;
}

html{
    font-size: 70%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header{
    padding: 2rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerbg);
    z-index: 10000;
}
#logo img{
   
   width: 70px;
   height: 50px;  
   border: 0.5px solid #708090;
   border-radius: 5px;
   transform: scale(1.5)
}


.nav a{
    color: white;
    font-size: 2.0rem;
    padding: 3rem;
    margin-left: 1rem;
    text-shadow: 0px 0px 3px black;
}
.nav a:hover{
    color: var(--mainclr);
}
.icon-header div{
    color: white;
    margin-left: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}
.icon-header div:hover{
    color: var(--mainclr);
}
#menu-bar{
    display: none;
}
.nav.active{
    top: 100%;
}
.search-form{
    width: 50%;
    position: absolute;
    top: -110%;
    right: 2rem;
    transition: .2s;
}

.background-image{
    background: url(images/potential.jpg) ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 5rem;
}
/*
.background-image ::after{
    content: '';
    position: absolute;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.10)
    
}
*/


.inner-back-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
}
.inner-back-text h1{
    z-index: 100;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px black;
}
.inner-back-text h1 span{
    z-index: 100;
    color: var(--mainclr);
    text-transform: uppercase;
    line-height: 1.5rem;
    text-shadow: 0px 0px 6px black;
}
.inner-back-text p{
    z-index: 100;
    color: white;
    font-size: 1.7rem;
    word-spacing: 5px;
    margin-bottom: 15px;
    padding: 1rem;
    text-shadow: 0px 0px 5px black;

}
.inner-back-btn{
    display: flex;
    justify-content: center;
}
.inner-back-btn a{
    margin-right: 1.5rem;
}
.first-btn, .second-btn{
    padding: 1.5rem 4rem;
    background: var(--mainclr);
    border-radius: 15px;
    color: var(--headerclr);
    font-size: 1.5rem;
}
.first-btn:hover, .second-btn:hover{
    background: var(--headerbg);
    color: white;
    letter-spacing: 3px;
}
.welcome{
    padding: 3rem 7%;
}
.main-welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inner-welcome{
    flex: 1 1 45rem;
}
.welcome-text h1{
    margin-top: 5%;
    font-size: 40px;
    color: var(--mainclr);

}
.welcome-text p{
    width: 50%;
    height: 52vh;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 25px;
    overflow: hidden;
}

.welcome-text a{
    padding: 1.5rem 4rem;
    background: var(--mainclr);
    color: var(--headerclr);
    font-size: 1.5rem;
    border-radius: 15px;
}
.welcome-text a:hover{
    background: var(--headerclr);
    color: white;
}
.inner-welcome img{
width: 90%;
border: 1px solid white;
border-radius: 10px;
flex-wrap: wrap;
}
.chose-us{
    padding: 5rem 7%;
    background-color: #00ced1/*turquoise*/;
}
.chose-us h1{
    color: var(--headerclr);
    font-size: 4rem;
    text-align: center;
    padding: 2rem 1rem;
}
.chose-us h1 span{
    color: var(--mainclr);
}
.chose-text{
    color: var(--headerclr);
    font-size: 1.5rem;
    padding: 1rem 10rem;
    text-align: center;
    margin-bottom: 25px;
}
.main-chose{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
}
.inner-chose{
    flex: 1 1 200px;
}
.chose-icon{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 8px solid var(--mainclr);
    border-radius: 100%;
    margin: 0 auto;
}
.chose-icon i{
    font-size: 40px;
    color: white;
    transition: .5s;
}
.chose-icon i:hover{
color: var(--headerclr);
transform: translateY(-25px);
}
.inner-chose h2{
    font-size: 2rem;
    padding: 1rem 0;
}
.inner-chose p{
    font-size: 1.5rem;
    padding: 0 1rem;
}
.our-services{
    padding: 5rem 7%;
}
.our-services h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    padding: 1rem 0;
}
.our-services h1 span{
    color: var(--mainclr);
}
.main-service{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-service{
    flex: 1 1 300px;
}
.inner-service h2{
    padding: 1rem 0;
    font-size: 2rem;
}
.inner-service p{
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.inner-service img{
    width: 100%;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 8px;
}

.inner-service a{
    padding: 1.5rem 3rem;
    background: var(--mainclr);
    color: var(--headerclr);
    border-radius: 15px;

}
.inner-service a:hover{
    background: var(--headerclr);
    color: white;
}
.our-gallery{
    padding: 4rem 7%;
}
.our-gallery h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.our-gallery h1 span{
    color: var(--mainclr);
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-gallery{
    flex: 1 1 300px;
}
.inner-gallery img{
    width: 100%;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: .5s;
}
.inner-gallery img:hover{
    transform: translateY(-25px);
}
.customer-review{
    padding: 4rem 7%;
}
.customer-review h1{
    color: var(--headerclr);
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.customer-review h1 span{
    color: var(--mainclr);
}
.main-review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.inner-review{
    flex: 1 1 300px;
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.inner-review:hover{
    background: var(--mainclr);
}
.inner-review:hover i{
    color: white;
}
.inner-review p{
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.inner-review img{
    width: 50px;
}
.inner-review i{
    position: absolute;
    font-size: 3rem;
    left: 1rem;
    top: 1rem;
    color: var(--mainclr);
}




.footend {
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}







@media (max-width:767px) {
    html{
        font-size: 65%;
    }
    #menu-bar{
        display: initial;
    }
    .header{
        padding: 1.2rem;
        font-size: 100%;
    }
    .nav{
        position: absolute;
        top: 0%;
        width: 60%;
       /* left: 10%;   */
        right: 0;
        top: -1000%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        background-color: antiquewhite;
        transition: .5s;
    }
    .nav a{
        color: black;
        display: block;
        margin: 1rem;
        font-size: 10px;
    }

    .welcome-text p{
        width: 100%;
    }
    .inner-welcome img{
        width: 100%;
        }

    .search-form{
        width: 90%;
    }

    .main-chose{
        display: flexbox;
        flex-direction: column; 

    }

    .inner-back-text{
        padding-top: 50px;
        padding-bottom: 20px;
        width: 100% !important;
    }
    .inner-welcome img{
        margin-top: 20px;
        text-align: center;
        }
    .chose-text{
            padding: 1rem 2rem;
         
        }
}